<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <title>สาระน่ารู้เกี่ยวกับโรคไต</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="card" style="text-align: left;">
    <h3 style="text-align: center; color: green;">ทำความรู้จักโรคไต</h3>

    <p><strong>เกี่ยวกับไต:</strong><br>ไตมีหน้าที่สำคัญในการกำจัดของเสีย ควบคุมความเป็นกรด-ด่างในกระแสเลือด ควบคุมความสมดุลของเกลือแร่ และปริมาณน้ำในร่างกาย เมื่อไตทำงานผิดปกติหรือไม่เต็มประสิทธิภาพ จะทำให้เกิดภาวะเลือดจางและขาดวิตามิน</p>
    <p><strong>สาเหตุของโรคไต:</strong><br>พันธุกรรม, เบาหวาน, ความดันสูง, การทานอาหารรสจัด, ดื่มน้ำน้อยเกินไป, ไม่ออกกำลังกาย</p>
    <p><strong>อาการ:</strong><br>อ่อนเพลีย, ปัสสาวะผิดปกติ, ความดันสูง, เบื่ออาหาร,ปวดศีรษะ คลื่นไส้ อาเจียน</p>
    <p><strong>กลุ่มเสี่ยง:</strong><br>ผู้สูงอายุ, ผู้ที่มีโรคประจำตัว, คนในครอบครัวมีประวัติเป็นโรคไต</p>
    <p><strong>การรักษาโรคไต:</strong><br>การฟอกเลือด, การฟอกไต, การปลูกถ่ายไต</p>
    <br>
    <p><strong>แหล่งอ้างอิง: โรงพยาบาลเพชรเวช</p>
    <button class="btn" onclick="location.href='index.html'">หน้าหลัก</button>
  </div>
</body>
</html>
